In [1]:
import numpy as np
import pandas as pd

nfl_v4=pd.read_csv('./NFL Play by Play 2009-2017 (v4).csv', index_col='Date')

/var/folders/8m/tdc0gjb14qq878phzzsj20l80000gn/T/ipykernel_47401/3282684392.py:4: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  nfl_v4=pd.read_csv('./NFL Play by Play 2009-2017 (v4).csv', index_col='Date')

In [5]:
nfl_v4.head()

,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,yrdln,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
Date,,,,,,,,,,,,,,,,,,,,,
2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,30.0,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,42.0,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,47.0,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,44.0,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,44.0,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [10]:
#Getting the number of missed values
missing_values_count = nfl_v4.isnull().sum()

In [12]:
print(missing_values_count)

GameID           0
Drive            0
qtr              0
down         61154
time           224
             ...
Win_Prob     25009
WPA           5541
airWPA      248501
yacWPA      248762
Season           0
Length: 101, dtype: int64

In [16]:
#Get total percentage of missed values
nfl_v4.shape
total_cell_count = np.product(nfl_v4.shape)
total_missing_count = missing_values_count.sum()
total_percent_missing = (total_missing_count/total_cell_count)*100
print(total_percent_missing)

25.118400092790814

### Figure out why some values are missed?
Is it because the missing value was not recorded OR it doesn't exist? You need to read data documentation to learn about data set

If the missing value doesn't exist, like the height of older child for a family without children. You need to keep that value as "NAN".

If the missing value is a missing measurement, you need to try guessing the value. It's called imputation.

#### 1. Drop missing values (dropna())

In [20]:
#To remove the rows that have missed values
nfl_v4.dropna()

Empty DataFrame
Columns: [GameID, Drive, qtr, down, time, TimeUnder, TimeSecs, PlayTimeDiff, SideofField, yrdln, yrdline100, ydstogo, ydsnet, GoalToGo, FirstDown, posteam, DefensiveTeam, desc, PlayAttempted, Yards.Gained, sp, Touchdown, ExPointResult, TwoPointConv, DefTwoPoint, Safety, Onsidekick, PuntResult, PlayType, Passer, Passer_ID, PassAttempt, PassOutcome, PassLength, AirYards, YardsAfterCatch, QBHit, PassLocation, InterceptionThrown, Interceptor, Rusher, Rusher_ID, RushAttempt, RunLocation, RunGap, Receiver, Receiver_ID, Reception, ReturnResult, Returner, BlockingPlayer, Tackler1, Tackler2, FieldGoalResult, FieldGoalDistance, Fumble, RecFumbTeam, RecFumbPlayer, Sack, Challenge.Replay, ChalReplayResult, Accepted.Penalty, PenalizedTeam, PenaltyType, PenalizedPlayer, Penalty.Yards, PosTeamScore, DefTeamScore, ScoreDiff, AbsScoreDiff, HomeTeam, AwayTeam, Timeout_Indicator, Timeout_Team, posteam_timeouts_pre, HomeTimeouts_Remaining_Pre, AwayTimeouts_Remaining_Pre, HomeTimeouts_Remaining_Post, AwayTimeouts_Remaining_Post, No_Score_Prob, Opp_Field_Goal_Prob, Opp_Safety_Prob, Opp_Touchdown_Prob, Field_Goal_Prob, Safety_Prob, Touchdown_Prob, ExPoint_Prob, TwoPoint_Prob, ExpPts, EPA, airEPA, yacEPA, Home_WP_pre, Away_WP_pre, Home_WP_post, Away_WP_post, Win_Prob, WPA, airWPA, yacWPA, ...]
Index: []

[0 rows x 101 columns]

In [23]:
#To remove the columns that have missed values
columns_with_na_dropped = nfl_v4.dropna(axis=1)
print("Number of dropped columns are: " , nfl_v4.shape[1]-columns_with_na_dropped.shape[1])

Number oof dropped columns are:  61

#### 2. Filling in missing values automatically: with a constant number or with whatever value comes directly after in the same column(fillna())

In [26]:
nfl_v4_subset = nfl_v4.loc[:,'EPA':'WPA']
nfl_v4_subset.head()

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA
Date,,,,,,,,,
2009-09-10,2.014474,NaN,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758
2009-09-10,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655
2009-09-10,-1.402760,NaN,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295
2009-09-10,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576
2009-09-10,2.097796,NaN,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712

In [28]:
nfl_v4_subset.fillna(0).head()

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA
Date,,,,,,,,,
2009-09-10,2.014474,0.000000,0.000000,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758
2009-09-10,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655
2009-09-10,-1.402760,0.000000,0.000000,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295
2009-09-10,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576
2009-09-10,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712

Other `methods` that can be used with `fillna`:
* **bfill :**
  
  Backward fill: Uses the next valid value below the missing value to fill it.
  Fills `NaN` with the next known non-null value below it in the same column (if axis=0).

* **ffill:**
  
  Forward fill: Propagates the last valid value forward to fill gaps.
  Fills `NaN` with the last known non-null value above it in the same column (if axis=0).

In [32]:
nfl_v4_subset.fillna(method='bfill',axis=0).fillna(0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA
Date,,,,,,,,,
2009-09-10,2.014474,-1.068169,1.146076,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758
2009-09-10,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655
2009-09-10,-1.402760,3.318841,-5.031425,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295
2009-09-10,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576
2009-09-10,2.097796,-0.343085,0.163935,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712
...,...,...,...,...,...,...,...,...,...
2017-12-31,0.000000,0.056697,-0.397515,0.080409,0.919591,0.050478,0.949522,0.080409,0.000000
2017-12-31,-0.340818,0.056697,-0.397515,0.080409,0.919591,0.050478,0.949522,0.080409,-0.029931
2017-12-31,0.139913,-2.317201,2.457114,0.050478,0.949522,0.030881,0.969119,0.050478,-0.019597
2017-12-31,0.000000,0.000000,0.000000,0.030881,0.969119,0.000000,1.000000,0.969119,0.030881
2017-12-31,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.999159,0.000000