In [8]:
import pandas as pd
wine_review = pd.read_csv('./winemag-data-130k-v2.csv')
wine_review.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

## Groupwise analysis : groupby()

In [3]:
wine_review.points.describe()

count    129971.000000
mean         88.447138
std           3.039730
min          80.000000
25%          86.000000
50%          88.000000
75%          91.000000
max         100.000000
Name: points, dtype: float64

In [4]:
wine_review.points.value_counts()

88     17207
87     16933
90     15410
86     12600
89     12226
91     11359
92      9613
85      9530
93      6489
84      6480
94      3758
83      3025
82      1836
95      1535
81       692
96       523
80       397
97       229
98        77
99        33
100       19
Name: points, dtype: int64

We can use groupby() to categorize data

In [6]:
#To replicate value_counts() function
wine_review.groupby('points').points.count()

points
80       397
81       692
82      1836
83      3025
84      6480
85      9530
86     12600
87     16933
88     17207
89     12226
90     15410
91     11359
92      9613
93      6489
94      3758
95      1535
96       523
97       229
98        77
99        33
100       19
Name: points, dtype: int64

In [7]:
#Cheapest wine in each point
wine_review.groupby('points').price.min()

points
80      5.0
81      5.0
82      4.0
83      4.0
84      4.0
85      4.0
86      4.0
87      5.0
88      6.0
89      7.0
90      8.0
91      7.0
92     11.0
93     12.0
94     13.0
95     20.0
96     20.0
97     35.0
98     50.0
99     44.0
100    80.0
Name: price, dtype: float64

In [11]:
#selecting the name of the first wine rviewed from each winary
wine_review.groupby('winery').apply(lambda t: t.title.iloc(0))

winery
1+1=3                  <pandas.core.indexing._iLocIndexer object at 0...
10 Knots               <pandas.core.indexing._iLocIndexer object at 0...
100 Percent Wine       <pandas.core.indexing._iLocIndexer object at 0...
1000 Stories           <pandas.core.indexing._iLocIndexer object at 0...
1070 Green             <pandas.core.indexing._iLocIndexer object at 0...
                                             ...
Órale                  <pandas.core.indexing._iLocIndexer object at 0...
Öko                    <pandas.core.indexing._iLocIndexer object at 0...
Ökonomierat Rebholz    <pandas.core.indexing._iLocIndexer object at 0...
àMaurice               <pandas.core.indexing._iLocIndexer object at 0...
Štoka                  <pandas.core.indexing._iLocIndexer object at 0...
Length: 16757, dtype: object

In [13]:
# groupby more than one feature
#Pick out the best wine by country and province
wine_review.groupby(['country','province']).apply(lambda ch: ch.points.max())

country    province
Argentina  Mendoza Province    97
           Other               95
Armenia    Armenia             88
Australia  Australia Other     93
           New South Wales     94
                               ..
Uruguay    Juanico             90
           Montevideo          91
           Progreso            90
           San Jose            87
           Uruguay             91
Length: 425, dtype: int64

## To run bunch of different function on your grouped Dataframe simultanously: agg()

In [17]:
wine_review.groupby(['country']).price.agg([len,min,max])

                          len   min     max
country
Argentina                3800   4.0   230.0
Armenia                     2  14.0    15.0
Australia                2329   5.0   850.0
Austria                  3345   7.0  1100.0
Bosnia and Herzegovina      2  12.0    13.0
Brazil                     52  10.0    60.0
Bulgaria                  141   8.0   100.0
Canada                    257  12.0   120.0
Chile                    4472   5.0   400.0
China                       1  18.0    18.0
Croatia                    73  12.0    65.0
Cyprus                     11  11.0    21.0
Czech Republic             12  15.0    45.0
Egypt                       1   NaN     NaN
England                    74  25.0    95.0
France                  22093   5.0  3300.0
Georgia                    86   9.0    40.0
Germany                  2165   5.0   775.0
Greece                    466   8.0    79.0
Hungary                   146  10.0   764.0
India                       9  10.0    20.0
Israel                    505   8.0   150.0
Italy                   19540   5.0   900.0
Lebanon                    35  13.0    75.0
Luxembourg                  6  16.0    30.0
Macedonia                  12  15.0    20.0
Mexico                     70   8.0   108.0
Moldova                    59   8.0    42.0
Morocco                    28  14.0    40.0
New Zealand              1419   7.0   130.0
Peru                       16  10.0    68.0
Portugal                 5691   5.0  1000.0
Romania                   120   4.0   320.0
Serbia                     12  15.0    42.0
Slovakia                    1  16.0    16.0
Slovenia                   87   7.0    90.0
South Africa             1401   5.0   330.0
Spain                    6645   4.0   770.0
Switzerland                 7  21.0   160.0
Turkey                     90  14.0   120.0
US                      54504   4.0  2013.0
Ukraine                    14   6.0    13.0
Uruguay                   109  10.0   130.0

## Sorting
We can sort the (grouped)data with respect to index (sort_index()), or with respect to the values (sort_values())

In [22]:
countries_reviewed = wine_review.groupby('country').description.agg([len])

In [25]:
countries_reviewed.sort_values(by='len',ascending=False)

                          len
country
US                      54504
France                  22093
Italy                   19540
Spain                    6645
Portugal                 5691
Chile                    4472
Argentina                3800
Austria                  3345
Australia                2329
Germany                  2165
New Zealand              1419
South Africa             1401
Israel                    505
Greece                    466
Canada                    257
Hungary                   146
Bulgaria                  141
Romania                   120
Uruguay                   109
Turkey                     90
Slovenia                   87
Georgia                    86
England                    74
Croatia                    73
Mexico                     70
Moldova                    59
Brazil                     52
Lebanon                    35
Morocco                    28
Peru                       16
Ukraine                    14
Macedonia                  12
Serbia                     12
Czech Republic             12
Cyprus                     11
India                       9
Switzerland                 7
Luxembourg                  6
Armenia                     2
Bosnia and Herzegovina      2
China                       1
Slovakia                    1
Egypt                       1

In [26]:
countries_reviewed.sort_index()

                          len
country
Argentina                3800
Armenia                     2
Australia                2329
Austria                  3345
Bosnia and Herzegovina      2
Brazil                     52
Bulgaria                  141
Canada                    257
Chile                    4472
China                       1
Croatia                    73
Cyprus                     11
Czech Republic             12
Egypt                       1
England                    74
France                  22093
Georgia                    86
Germany                  2165
Greece                    466
Hungary                   146
India                       9
Israel                    505
Italy                   19540
Lebanon                    35
Luxembourg                  6
Macedonia                  12
Mexico                     70
Moldova                    59
Morocco                    28
New Zealand              1419
Peru                       16
Portugal                 5691
Romania                   120
Serbia                     12
Slovakia                    1
Slovenia                   87
South Africa             1401
Spain                    6645
Switzerland                 7
Turkey                     90
US                      54504
Ukraine                    14
Uruguay                   109